extends layout

block content
    h5 #{msg}
    form.form-signin(action='/users/login', method='post')
        h2.form-signin-heading Login
        input(type='text', name='username', placeholder='Username', class='input-block-level')
        input(type='password', name='password', placeholder='Password', class='input-block-level')
        input(type='submit', class='btn btn-large btn-primary') Login
        |<br /> <br />
        a(href='/users/register') (Or register...)

